@keyframes move_bush {
   from {
        transform: translateX(0);
   }
    to {
          transform: translateX(-100%);
    }
    
}
/* moving bush */
.bush {
    animation-delay: 5s;
    animation: move_bush 5s ease-in-out;
    transform: translateX(-100%);
   
}