@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
/* Change background color animation */
@keyframes backgrounds {
  0% {
    background: #a2ef9b;
  }
  50% {
    background: #83e47a;
  }
  75% {
    background: #9de497;
  }
  100% {
    background: #7cea72;
  }
}
@keyframes fly {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(3%);
  }
  75% {
    transform:scale(1.2)
  }
  
}
body {
  background-color: #a2ef9b;
  font-family: "Kanit";
  animation: backgrounds 10s linear ease-out;
}
.container {
  display: flex;
  gap: 10%;
  justify-content: center;
  margin-top: 10%;
  text-align: center;
}
.header {
  font-size: 2.3em;
  text-align: center;
}
.contents {
  position: relative;

  top: 20%;
}
.item-1 {
  position: relative;
  text-align: left;
  padding: 2%;
  background-color: rgb(235, 191, 191);
  border: 23px solid #ffffff;
  width: 30%;
  height: 490px;
  animation: fly 5s ease-in-out infinite;
}
.item-1:hover{
    animation-play-state: paused;
}