@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
body{
 font-family: "Kanit", sans-serif;
 margin: 0;
 padding: 0;
 background-color:#F7EDDB;
 
}
#menu {
    position: absolute;
    left: 60%;
    top: 5%;
    display: flex;
    flex-direction: row;
    gap: 80px;
    font-size: 28px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: bold;
}
#menu > a {
    text-decoration: none;
    color: #000000;
}
#menu > a:hover {
    color: #3BACB6;
}
#home {
    display: flex;
    flex-direction: row;
    gap: 40%;
}
/* welcome section */
#home > #welcome {
    position: relative;
    font-size:38px;
    text-align: center;
    left: 10%;
    top: 70px;
}