@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("./animation.css");
/* scale menu in navbar */
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* fade background color */
@keyframes fadeBg {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #ffe1aa;
  }
  100% {
    background-color: #f7eddb;
  }
}
/* fade welcome button */
@keyframes fade-welcome-button {
  0% {
    background-color: #b9e0ff;
  }
  50% {
    background-color: #def5e5;
  }
  100% {
    background-color: #9ed5c5;
  }
}
/* motion my picture */
@keyframes tranform_Avatar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: translateX(-400px);
    rotate: 20deg;
  }
  100% {
    rotate: -5deg;
  }
}
@keyframes menu_hover {
  0% {
    transform: scale(1);
    color: #FFE600
  }
  50% {
    transform: scale(1.1);
    color: #FFE600
  }
  100% {
    transform: scale(1);
    text-decoration: underline;
    color: #FFE600
  }
  
  
}
.avatar-img {
  animation: tranform_Avatar 10s;
}
/* scroll snap */
html {
  /* scroll-snap-type: y mandatory; */
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  font-family: "Kanit", sans-serif;
  margin: 0;
  padding: 0;
  scroll-snap-align: start;

  animation: fadeBg 3s;
  background-color: #f7eddb;
}
#menu {
  position: absolute;
  left: 60%;
  top: 5%;
  display: flex;
  flex-direction: row;
  gap: 80px;
  font-size: 28px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-weight: bold;
}
/* Menu in Navbar */
#menu > a {
  text-decoration: none;
  color: #000000;
}
#menu > a:hover {
  
  animation: menu_hover 1s ease-in-out;
  text-decoration: underline;
  
}
#home {
  display: flex;
  flex-direction: row;
  gap: 40%;
}
/* welcome section */
#home > #welcome {
  position: relative;
  font-size: 38px;
  text-align: center;
  left: 10%;
  top: 70px;
}
/* Welcome button */
#welcome > div > a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #bbc889;
  border-radius: 21px;
  position: relative;
  top: 53px;
  text-decoration: none;
  font-size: 28px;
  width: 150px;
  height: 45px;
  color: #000000;
  animation: scale 2s infinite;
  border: 3px solid #000000;
}
/* transition welcome button */
#welcome > div > a:hover {
  background-color: #3bacb6;
  color: #ffffff;

  animation: fade-welcome-button 2s;
}
/* Wave */
#section1 > #wave > img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#avatar {
  margin-top: -10px;
  position: relative;
  display: flex;

  justify-content: center;

  width: 100%;

  background-color:  #DAE2B6;
}

#avatar > #myimg {
  border-radius: 20px;
  transform: rotate(-7.2deg);
  /* animation: tranform_Avatar 5s; */
  border: 9px solid #000000;
  scroll-snap-align: start;
  transform: translateX(-400px);
}
#avatar > #myimg:hover {
  animation-play-state: paused;
  transform: translateX(-400px);

  transform: rotate(0deg);
}
#greeting-box {
  position: absolute;
  background-color: #bbde6f;
  right: 0;
  height: 390px;
  width: 560px;
  border-radius: 80px;
  text-align: center;
  padding: 5% 5% 3% 1%;
  padding-top: 3%;
  border: solid 3px #000000;
}
/* จัดข้อความข้างในเเนะนําตัว */
#greeting-box > span {
  position: relative;
  left: 10%;

  top: 50px;
  margin: 30px;
  text-align: left;
  font-size: 29px;
}
/* ทําให้รูป curve มันพอดีกับหน้า */
#section2 > #wave2 > img {

  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
#section1 {
  position: relative;
  
  z-index: 1;
}
#home {
  position: relative;
}

#box2{
  position: relative;

  width: 100%;
  height: 100%;
  background-color: #F7EDDB;
 
}
